@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Montserrat:wght@300&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');

.outer{
    display: flex;
}

img{
    height: 400px;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 50px;
}

.para{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 170px;
    font-size: 20px;
    line-height: 200%;
    word-spacing: 10px;
    /* font-family: 'Kalam', cursive; */
    font-family: 'BIZ UDMincho', serif;
    color: beige;
    
}