.box2{
    height:500px;
    width:450px;
    margin-top:100px;
    margin-left: 409px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    align-items:flex-end;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    
    
}



.username , .password , .email{
    display: block;
    margin-bottom: 40px;
    margin-left: 100px;
    
}



.Sign_up{
    margin-left: 190px;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.userin , .passwordin , .emailin
{
    margin-top: 4px;
    border-radius: 4.5px;
    height: 30px;
    width: 240px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
} 



